/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* RESET */

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    list-style: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p {
    margin: 10px 0;
    letter-spacing: .025em;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

/* FIN RESET */

/* DEFAULT */

h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: .3rem;
    -webkit-transition-delay: 0.25s;
    -o-transition-delay: 0.25s;
    transition-delay: 0.25s;
}

#formulaire h2 {
    margin-bottom: 10px;
    color: #ffbb00;
}

#article-info h2 {
    margin-bottom: 10px;
    color: black;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: .3rem;
    line-height: 1;
}

h3 {
    font-size: 1.6rem;
}

.red {
    color: red;
}
.green {
    color: green;
}

a {
    text-decoration: none;
}

.strong {
    font-weight: 700;
}

.grand {
    font-size: 4rem;
    text-align: center;
}

body {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

body.center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

main {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

/* FIN DEFAULT */

/* HEADER */

header {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 24px 12px;
    position: relative;
}

header .compte img {
    width: 40px;
}

header .social-link {
    display: none;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.1rem;
}

header .social-link i {
    border: 1px solid rgb(202, 202, 202);
    border-radius: 40%;
    padding: 5px 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

body.connexion header .social-link i {
    border: 1px solid white;
}

header .social-link i:hover {
    border: 1px solid black;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

body.connexion header .social-link i:hover {
    border: 1px solid rgba(253, 253, 253, 0);
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

header .social-link a {
    color: rgb(202, 202, 202);
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    margin: 5px;
    width: 100%;
}

body.connexion header .social-link a {
    color: white;
}

header .social-link a:hover {
    color: black;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

body.connexion header .social-link a:hover {
    color: white;
}

header>a>img {
    width: 85px;
    height: auto;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

header>a>img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

header .compte {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 700;
    position: relative;
}

header .compte a {
    margin-right: 10px;
}

header .compte .connected {
    font-size: 1.2rem;
    color: #ffbb00;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

header .compte .connected:hover {
    color: #c59100;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

header .compte .connected div {
    margin-right: 5px;
}

.btn {
    color: black;
    padding: 6px 24px;
    border-radius: 2px;
}

.btn:hover {
    cursor: pointer;
}

#formulaire .btn:hover {
    border: 1px solid #ffbb00;
}

@media screen and (max-width: 400px) {
    .btn {
        padding: 4px 6px;
    }
}

.btn-basic {
    border: 1.5px solid #ffbb00;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.btn-basic:hover {
    color: #ffbb00;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.btn-color {
    background-color: #ffbb00;
    border: 1px solid #ffbb00;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.btn-color:hover {
    background-color: black;
    border: 1px solid black;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    color: #ffc62a;
}

.compte {
    position: relative;
}

.info {
    display: none;
    width: 190px;
    background-color: black;
    position: absolute;
    padding: 10px;
    top: 45px;
    right: -5px;
    font-weight: 600;
    border-radius: 3px;
}

.info-fleche {
    border-style: solid;
    border-width: 9px;
    border-color: transparent;
    border-top-width: 0;
    border-bottom: 9px solid black;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: -9px;
    right: 19px;
}

.info a {
    color: #ffbb00;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.info a:hover {
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    margin-left: 5px;
}

.info li {
    margin-bottom: 4px;
    list-style: inside;
    color: #ffbb00;
}

/* FIN HEADER */

/* PAGE ARTICLE */

article {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    padding: 12px 12px;
}

article h1+hr {
    width: 50px;
    height: 3px;
    border: none;
    background-color: #ffbb00;
    margin: 0 auto 10px auto;
}

article figure {
    margin: 0 auto;
    width: 100%;
}

article img {
    width: 100%;
    height: auto;
}

p.paraMobile {
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    margin: 20px 0;
    padding: 0 10px;
}

.paragraphes {
    display: none;
    width: 100%;
}

.paragraphes span, .paraMobile span {
    font-size: 3rem;
    line-height: 1;
    letter-spacing: 0.2rem;
    color: #ffbb00;
    font-weight: 800;
}

.paraMobile span {
    font-size: 2rem;
}

.paragraphes p {
    font-size: 1.2rem;
    font-weight: 700;
    width: 50%;
    margin: 20px 0;
    padding: 0 2vw;
    text-align: justify;
}

.paragraphes p:nth-child(2) {
    padding: 1.2rem 2vw;
}

#commentaires form {
    margin: 10px 0 15px 0;
    display: flex;
    flex-direction: column;
}

#commentaires textarea {
    padding: 5px 12px;
    color: #6d7072;
    border: 1px solid #d1d3d6;
    border-radius: 6px;
    outline: none;
    box-shadow: inset 0 1px 0 rgba(225, 228, 232, .2);
    box-sizing: initial;
    max-width: 93%;
    min-width: 93%;
    min-height: 30px;
    margin: 10px auto;
    display: block;
}

#commentaires textarea:focus {
    outline: none;
    border: 1px solid #c79200;
}

#commentaires label {
    margin-bottom: 5px;
}

#commentaires input[type="submit"]:hover {
    background-color: rgb(187, 187, 187);
}

.flex {
    margin-top: 10px;
    display: flex;
}

.center {
    justify-content: center;
}

.flex .btn {
    margin: 10px;
    font-weight: 600;
}

.absolute {
    position: absolute;
}

.commentaire {
    margin: 10px 0;
}

.news {
    width: 100%;
    max-width: 1100px;
    margin: 10px auto;
}

.news p {
    background-color: #CCCCCC;
    margin-top: 0px;
}

/* FIN ARTICLE */

/* CONNEXION / S'INSCRIRE */

#formulaire {
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: black;
    color: white;
    height: 100%;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

#formulaire form {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    max-width: 450px;
    margin: 10px auto;
    padding: 15px 10px;
}

#formulaire form p {
    text-align: center;
}

#formulaire form div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

#formulaire form input[type="text"],
#formulaire form input[type="email"],
#formulaire form input[type="password"],
#formulaire form input[type="submit"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    height: 40px;
    border: none;
    padding: 5px 20px;
    border-radius: 2px;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
}

#formulaire form input[type="submit"] {
    margin-top: 5vh;
}

form input[type="checkbox"] {
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

#formulaire form label {
    font-weight: 300;
}

input::-webkit-input-placeholder {
    text-align: center;
    color: rgb(63, 63, 63);
}

input::-moz-placeholder {
    text-align: center;
    color: rgb(63, 63, 63);
}

input:-ms-input-placeholder {
    text-align: center;
    color: rgb(63, 63, 63);
}

input::-ms-input-placeholder {
    text-align: center;
    color: rgb(63, 63, 63);
}

input::placeholder {
    text-align: center;
    color: rgb(63, 63, 63);
}

input:focus::-webkit-input-placeholder {
    text-align: center;
    color: rgb(90, 90, 90);
}

input:focus::-moz-placeholder {
    text-align: center;
    color: rgb(90, 90, 90);
}

input:focus:-ms-input-placeholder {
    text-align: center;
    color: rgb(90, 90, 90);
}

input:focus::-ms-input-placeholder {
    text-align: center;
    color: rgb(90, 90, 90);
}

input:focus::placeholder {
    text-align: center;
    color: rgb(90, 90, 90);
}

.login {
    position: relative;
    z-index: 5;
    font-size: 1rem;
    text-align: right;
    color: #ffbb00;
    right: 0;
    bottom: 0px;
    margin: 10px 0;
    padding: 15px;
    letter-spacing: .1rem;
}

.login:hover {
    cursor: pointer;
}

.login span {
    font-size: 1.3rem;
    letter-spacing: .1rem;
    font-weight: 800;
}

#article-info {
    display: none;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

/* FIN CONNEXION / INSCRIPTION */

/* MON COMPTE */

#compte {
    padding: 12px;
    max-width: 1300px;
    margin: 0 auto;
}

.info-compte {
    padding: 30px 0;
}

.info-compte p{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

.info-compte label {
    margin-right: 10px;
}

.info-compte input{
    max-height: 32px;
    min-width: 180px;
    padding: 5px 12px;
    line-height: 20px;
    color: #6d7072;
    vertical-align: middle;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    outline: none;
    box-shadow: inset 0 1px 0 rgba(225, 228, 232, .2);
}

.buttons {
    display: flex;
    justify-content: space-between;
    height: 70px;
}

#modifier {
    padding: 5px 12px;
    height: fit-content;
    background-color: #ffd76a;
    vertical-align: middle;
    border: 1px solid black;
    font-weight: 600;
    border-radius: 2px;
    outline: none;
}

#modifier:hover {
    cursor: pointer;
    background-color: #ffe18e;
}

.buttons a {
    align-self: flex-end;
    padding: 5px 12px;
    height: fit-content;
    background-color: rgb(250, 250, 250);
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.05);
    font-weight: 400;
    border-radius: 2px;
}

.buttons a:hover {
    background-color: rgb(243, 243, 243);
}

.info-compte input[type="submit"]{
    color: black;
    background-color: rgb(224, 224, 224);
}

.info-compte input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}



/* FIN MON COMPTE */

@media screen and (min-width: 500px){
    #compte {
        width: 80%;
    }
}

@media screen and (min-width: 800px) {
    header .social-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    header {
        padding: 40px 12px;
    }
    header>a {
        position: absolute;
        top: 52%;
        Left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    header>a>img {
        width: 150px;
    }
    header .compte .connected {
        font-size: 1.4rem;
    }
    header .compte .connected span {
        font-size: 1.7rem;
    }
    article {
        padding: 12px 24px;
    }
    article h1 {
        font-size: 2rem;
        letter-spacing: .3rem;
        line-height: 1.5;
    }
    p.paraMobile {
        display: none;
    }
    .paragraphes {
        display: flex;
    }
    h3 {
        font-size: 2rem;
    }
    #commentaires textarea {
        min-height: 60px;
        max-width: 97%;
        min-width: 97%;
    }
    #commentaires input[type="submit"] {
        max-width: 300px;
    }
    #compte {
        padding: 12px 24px;
    }
    .info-compte label {
        width: 310px;
    }
    .info-compte p {
        justify-content: initial;
    }
}

@media screen and (min-width: 1000px) {
    /* CONNEXION S'INSCRIRE */
    body.connexion {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    #formulaire {
        width: 50%;
        position: absolute;
        -webkit-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        /* transform: translateX(100%); */
    }
    #article-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .login {
        position: absolute;
        right: 50%;
    }
}

@media screen and (min-width: 1200px) {
    header {
        width: 90%;
        padding: 60px 12px;
    }
    header>a>img {
        width: 175px;
    }
}