@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* RESET */

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', Arial,
        Helvetica,
        sans-serif;
    list-style: none;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    user-select: none;
}

p {
    letter-spacing: .025em;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

/* FIN RESET */

h1,
h3 {
    text-align: center;
}

h3 {
    background-color: black;
    color: white;
    font-size: 0.9em;
    margin-bottom: 0px;
}

.red {
    color: red;
}

a {
    text-decoration: none;
    color: blue;
}

.strong {
    font-weight: bold;
}

.grand {
    font-size: 4rem;
    text-align: center;
}


body {
    display: flex;
    flex-direction: column;
}

body.center {
    align-items: center;
}

main {
    flex: 1;
}

header {
    padding: 2px 24px;
    background-color: rgb(241, 241, 241);
}

header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1450px;
    margin: auto;
}

header img {
    width: 40px;
}

header .header>div {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

header .header>div>a {
    margin-right: 10px;
}

.btn {
    color: black;
    font-weight: 600;
    padding: 6px 12px;
}

.btn-basic {
    border: 1px solid black;
}

.btn-basic:hover {
    background-color: rgb(206, 206, 206);
}

.btn-color {
    background-color: rgb(255, 205, 0);
    border: 1px solid rgb(255, 205, 0);
}

.btn-color:hover {
    background-color: rgb(255, 230, 0);
    border: 1px solid rgb(255, 230, 0);
}

.compte {
    position: relative;
}

.info {
    display: none;
    width: 150px;
    background-color: rgb(255, 253, 226);
    position: absolute;
    padding: 10px;
    top: 45px;
    right: -5px;
}

.info-fleche {
    border-style: solid;
    border-width: 9px;
    border-color: transparent;
    border-top-width: 0;
    border-bottom: 9px solid rgb(255, 253, 226);
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: -9px;
    right: 9px;
}


.news {
    width: 90%;
    max-width: 1100px;
    margin: 10px auto;
}

.news p {
    background-color: #CCCCCC;
    margin-top: 0px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 15px 10px;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
}

form p {
    text-align: center;
}

form div {
    margin: 10px 0;
    width: 400px;
    display: flex;
    justify-content: space-between;
}